.titleheader {
  text-align: center;
}

.imagecontainer {
  display: flex;
  justify-content: center;
  padding: 14px;
  margin: 15px;
}

.image {
  border: 5px solid grey;
  transition: transform 0.2s;
  padding: 14px;
}

.image:hover {
  transform: scale(1.2);
}

.content {
  display: list-item;
  margin: 30px;
}

.vedio {
  display: flex;
  justify-content: center;
}

.vediofram {
  width: 40%;
  height: 350px;
}

@media only screen and (max-width: 600px) {
  .vediofram {
    width: 266px;
    height: 266px;
  }

  .image:hover {
    transform: scale(1);
  }
}
